body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 20vh 70vh 10vh;
}

header {
    text-align: center;
    grid-row: 1;
}

main {
    grid-row: 2;
}

section {
    text-align: center;
    display: flex;
    justify-content: center;
}

.squares-container {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.game-square {
    margin: .5vh;
    height: 12vh;
    width: 12vh;
    border: 1px solid black;
}

input {
    width: 12vh;
    height: 3vh;
    margin: 0 2vh 2vh 2vh;
}

footer {
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
