<!DOCTYPE html>
html(lang="en")
    head
        link(href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
        link(rel="stylesheet", href="../sass/main.scss")
        title Simon
    body
        header
            h1 Simon
            h4 Press 'Ready' to begin
        main
            .buttons-container
                .ready-container
                    button READY
                .reset-container
                    button RESET GAME
                .speed-container
                    button SPEED UP
                .reverse-container
                    button REVERSE MODE
                .add-container
                    button ADD COLOR
            .squares-container
                .square-row.top
                    .game-square(id="green")
                .square-row.middle
                    .game-square(id="red")
                    .game-square(id="yellow")
                .square-row.bottom
                    .game-square(id="blue")
            .levels-container
                h2 Level: 
                    span.level 1
                h2 Mode:
                    span.mode  Standard
        footer
            .icon
            .name
                p Stuart Fooks
        script(src="../js/main.js")
