<!DOCTYPE html>
html(lang="en")
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto|Righteous" rel="stylesheet")
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/main.js")
  body
    header
        h1 Simon
        h2 Instructions:
        h4 Watch the sequence of colors as they light up, then click on the colors in the same order.
        button READY
    main
        .squares-container
            .game-square(id="green")
            .game-square(id="red")
            .game-square(id="yellow")
            .game-square(id="blue")
        .responses-container
    footer
        .icon
        .name
            p Stuart Fooks
