<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/main.js")
  body
    header
        h1 Simon
        h2 Watch the sequence of colors below
        button play
    main
        .squares-container
            .game-square(id="green")
            .game-square(id="red")
            .game-square(id="yellow")
            .game-square(id="blue")
    footer
        .icon
        .name
            p Stuart Fooks
